<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change your password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div style="position:fixed; left:0; padding:30px;  top:0; height:100%; width:100%;"> 
 
 <!--img src="http://edlinkup.co.tz/images/bg.jpg"   style="opacity:0.2;"  /-->
 </div> 
 <div padding style="padding-top:10%;" >
  <ion-list *ngIf="data=='change'" >
<ion-item   style="border:2px solid #47A0DA; 
	border-radius:10px;
	height: 15px;
	width: 98%;
	color:#133E5B  ;
	background-color:transparent;">
    <ion-input type="password" [(ngModel)]="password0" placeholder="Current password" ></ion-input>
  </ion-item>
   <br/>

  <ion-item style="border:2px solid #47A0DA;
	border-radius:10px;
	height: 15px;
	color:#133E5B  ;
	background-color:transparent;
	width: 98%;">
    <ion-input type="password" [(ngModel)]="password1" placeholder="New Password" ></ion-input>
  </ion-item>
   <br/>

  <ion-item style="border:2px solid #47A0DA;
	border-radius:10px;
	height: 15px;
	color:#133E5B  ;
	background-color:transparent;
	width: 98%;">
    <ion-input type="password" [(ngModel)]="password2" placeholder="Re-type Password" ></ion-input>
  </ion-item>

    </ion-list>
	</div>
	
  <div padding>
   <ion-grid *ngIf="data=='change'">
  
  <ion-row>
    <ion-col col-12>
	<button   ion-button full round (click)="showpassword()" >Save</button>
    
	</ion-col>
	<!--ion-col col-6> 
	<button ion-button full round (click)="onSignup()" style="color:#fff;" color="secondary" >Cancel</button>
   </ion-col-->
  </ion-row>
</ion-grid>



   </div>
 
 
<div padding style="padding-top:10%;" >
  <ion-list *ngIf="data=='forgoten'" >

  <ion-item style="border:2px solid #47A0DA;
	border-radius:10px;
	height: 15px;
	color:#133E5B  ;
	background-color:transparent;
	width: 98%;">
    <ion-input type="password" [(ngModel)]="password1" placeholder="New Password" ></ion-input>
  </ion-item>
   <br/>

  <ion-item style="border:2px solid #47A0DA;
	border-radius:10px;
	height: 15px;
	color:#133E5B  ;
	background-color:transparent;
	width: 98%;">
    <ion-input type="password" [(ngModel)]="password2" placeholder="Re-type Password" ></ion-input>
  </ion-item>

    </ion-list>
	</div>
	
  <div padding>
   <ion-grid *ngIf="data=='forgoten'">
  
  <ion-row>
    <ion-col col-12>
	<button   ion-button full round (click)="changepassword()" >Save</button>
    
	</ion-col>
	<!--ion-col col-6> 
	<button ion-button full round (click)="onSignup()" style="color:#fff;" color="secondary" >Cancel</button>
   </ion-col-->
  </ion-row>
</ion-grid>



   </div>
 

</ion-content>
