page-tabs {
.show-tabbar {

}
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
  
);
$text-color:#003399;
}

$tab-button-md-active-color:              #003399;;
$tab-button-md-inactive-color:            #000000;




