page-search-user {
ion-searchbar {
        
    }
	ion-header{
	background-color:#ffffff !important;
	}
	ion-navbar{
	background-color:#ffffff !important;
	}
.searchbar-search-icon { display:none; margin:0; padding:0; width:0; height:0; }	
 .searchbar-input {
  background-color: transparent;
    box-shadow: none !important;
    padding-left: 9px !important; border:none !important;
  }
}
