page-student-profile {

p {
font-family: vernada,tahoma,arial, sans-serif;
font-size:18px !important;
color:#28292A !important;
}
h1 {
font-family: vernada,tahoma,arial, sans-serif;
font-size:18px !important;
font-weight:bold;
color:#28292A !important;
}
}
